.gasto-semanal {
  width: 90%;
  max-width: 1200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  &__header {
    margin-bottom: 2rem;
  }
  &__title {
    color: #fff;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 50px;
    }
  }
  &__main {
    background-color: #fff;
    border-radius: 15px;
    padding: 2.5rem 2rem;
  }
}
